# Supabase / PostgreSQL Database Connection
# Replace with your actual Supabase connection string. Must use psycopg2 or asyncpg depending on your driver.
DATABASE_URL=postgresql://postgres:[Akshay@HomeWork]@db.rbyvqfgfoevlfmpjxyyw.supabase.co:5432/postgres

# Google Gemini API Key
GEMINI_API_KEY=AIzaSyCVhx4Q8sXpGb2E8XKMeQH6Bco-CWlkI3U

# Project Config
PROJECT_NAME="Homework AI Backend"
VERSION="1.0.0"
API_V1_STR="/api/v1"
